
.menu-options
    = link_to '내게 편지쓰기', new_letter_path if current_user.present?
    = link_to '공개된 편지', letters_path
    -# = link_to '오늘의 편지', today_letters_path
    -# = link_to '내게 쓴 편지함', my_letters_path if current_user.present?
    -# = link_to '저장한 편지', saved_letters_path if current_user.present?
    = link_to '정보', about_path
    - if user_signed_in?
        = link_to '로그아웃', destroy_user_session_path, method: :delete
    - else
        = link_to '로그인', new_user_session_path
        = link_to '회원가입', new_user_registration_path
    .info.underline
        = link_to '이용약관 및 개인정보취급방침', info_path