.letters
  .letter
    = form_for @letter do |f|
      .body
        .img-wrapper
          = image_tag "buttons/group@3x.png", class: "img-letter-above"
        .to-me.underline
          To. 나에게
        .text
          .field
          = f.text_area :body, rows: "1", autofocus: "true", placeholder: "20자 이상 입력해 주세요",id: "form-text" , class: "placeholder", minlength: 20, onkeydown: "autosize()", required: true
        .from-me
          = DateTime.now.to_date.strftime('%Y년 %m월 %d일')
        .from-me
          %span.underline 나로부터
      .actions.btn-wrapper
        = f.check_box :opened, class: "open-checkbox", style:"display:none";
        -# = f.label :opened, "글 공개하기", class: "open-checkbox"
        = f.submit '보내기', class: "btn-submit"
      - if @letter.errors.any?
        #error_explanation
          %h2= "#{pluralize(@letter.errors.count, "error")} prohibited this letter from being saved:"
          %ul
            - @letter.errors.full_messages.each do |message|
              %li= message
