%h1 Listing letters

%table
  %thead
    %tr
      %th Body
      %th 상세보기
      %th User
      %th Function

  %tbody
    - @saved_letters.each do |letter|
      %tr
        %td= letter.body
        %td= link_to 'Show', letter
        %td= current_user.email
        %td= link_to 'Edit', edit_letter_path(letter)
        %td= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' } if can? :edit, letter

%br

= link_to 'New Letter', new_letter_path
= link_to 'Home', root_path
